
.res-container{
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
#resimg{
    height: 200px;
    width: 200px;
    border-radius: 20px;
}
.res-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.price-con{
    display: flex;
    gap: 10px;
}